*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.z-depth-1 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}
body {
  background-color: #E8E8E8 !important;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  height: 70px;
  z-index: 500;
}
.logo {
  color: #fff;
  float: left;
  margin-left: 50px;
}
.logo a {
  color: #fff;
}
.logo a:hover {
  color: #ddd;
  text-decoration: none;
}
.logo a:focus {
  text-decoration: none;
}
.auth-block {
  float: right;
  width: 400px;
  height: 100%;
  direction: rtl;
}
.auth-block h3 {
  float: right;
  margin: 0;
  line-height: 70px;
  padding: 0 20px;
  font-size: 18pt;
  color: #fff;
}
.auth-block a.btn-main {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  margin: 0 10px;
  background-color: #fff;
  padding: 10px;
  float: right;
  font-size: 16pt;
  margin-top: 10px;
}
.auth-block a.btn-main:hover {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
  text-decoration: none;
}
.content {
  margin-top: 70px;
}
.genre-block {
  width: 100%;
}
.genre-item {
  float: left;
  padding: 10px;
  background-color: #eee;
  margin: 5px;
  border: 1px solid #dedede;
}
.music-block {
  margin-top: 50px;
}
.add-music {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  background-color: #dedede;
  height: 100%;
  padding-top: 35%;
  text-align: center;
  color: #777;
}
.add-music i {
  font-size: 28pt;
}
.add-music:hover {
  color: #333;
  cursor: pointer;
}
.music-item {
  float: left;
  width: 25%;
  padding: 5px;
  height: 285px;
}
.music-item:hover .opacity-block {
  cursor: pointer;
  opacity: .6;
}
.opacity-block {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;
  opacity: .4;
  background-color: #000;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
}
.mi-info {
  position: absolute;
  left: 0;
  width: 100%;
  height: 35%;
  bottom: 0;
  z-index: 30;
  color: #fff;
  padding: 10px;
}
.mi-wrapper {
  position: relative;
  border: 1px solid #eee;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mi-wrapper img {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.create-music-block select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
}
.create-music-block select option {
  background-color: #fff;
  color: #333;
  font-size: 14pt;
}
.btn-black {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  display: inline-block;
  padding: 10px;
  border: none;
}
.btn-black i {
  margin-right: 5px;
}
.btn-black:hover {
  background-color: #555;
  cursor: pointer;
}
.btn-black-full {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  display: inline-block;
  padding: 10px;
  border: none;
  width: 100%;
}
.btn-black-full i {
  margin-right: 5px;
}
.btn-black-full:hover {
  background-color: #555;
  cursor: pointer;
}
.btn-black-full i {
  margin-right: 10px;
}
.cm-thumb {
  text-align: center;
  position: relative;
  margin: 20px auto;
  max-width: 200px;
  height: 200px;
  border: 3px dashed #ccc;
  padding: 40px 20px;
  overflow: hidden;
}
.cm-thumb:hover {
  cursor: pointer;
}
.cm-thumb i {
  font-size: 28pt;
  color: #aaa;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.cm-thumb span {
  font-size: 12pt;
  color: #aaa;
}
.cm-thumb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.cm-audio {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding: 10px;
  font-size: 14pt;
  background-color: #333;
  color: #fff;
  display: inline-block;
}
.cm-audio:hover {
  background-color: #555;
  cursor: pointer;
}
.mii-genre {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #555;
  padding: 5px;
  z-index: 30;
  color: #fff;
}
.mii-title,
.mii-author,
.mii-album,
.mii-creator {
  width: 100%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.mii-title {
  font-size: 18pt;
}
.music-img {
  width: 30%;
  float: left;
  height: auto;
  overflow: hidden;
  border: 1px solid #eee;
}
.music-img img {
  width: 100%;
  height: 100%;
}
.music-inf {
  width: 70%;
  height: 100%;
  float: left;
  padding-left: 20px;
  position: relative;
}
.music-cont {
  background-color: #eee;
  border: 1px solid #ddd;
  position: relative;
  overflow: hidden;
  height: 350px;
}
.player {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
}
.player-control {
  padding: 10px 0;
}
.music-cont-meta-info {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #333;
  color: #fff;
}
.music-cont-meta-info span {
  float: left;
  padding: 5px 10px;
}
.music-cont-meta-info span i {
  margin-right: 5px;
}
.music-info-table td {
  padding: 5px;
}
.mit-title {
  font-size: 36pt;
}
.mit-other {
  font-size: 16pt;
}
.music-player {
  width: 100%;
  margin: 20px 0;
}
.ac-container {
  margin: 10px auto 30px auto;
  text-align: left;
}
.ac-container label {
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  color: #fff;
  line-height: 33px;
  font-size: 19px;
  background: #333;
}
.ac-container label:hover {
  background: #555;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  background: #333;
  color: #fff;
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
}
.ac-container input {
  display: none;
}
.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container article p {
  font-style: italic;
  color: #777;
  line-height: 23px;
  font-size: 14px;
  padding: 20px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}
.ac-container input:checked ~ article.ac-small {
  height: 140px;
}
.ac-container input:checked ~ article.ac-medium {
  height: 180px;
}
.ac-container input:checked ~ article.ac-large {
  height: 230px;
}
.ac-container input:checked ~ article.ac-auto {
  padding: 15px;
  height: auto;
  border: 1px solid #dedede;
}
.ac-container .btn-black i {
  margin-right: 10px;
}
.new-pl-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  z-index: 530;
  display: none;
  padding: 20px;
}
.new-pl-modal .btn-black {
  float: right;
}
.new-pl-modal-back {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 520;
  display: none;
}
.npm-pl-name {
  padding: 10px;
  font-size: 16pt;
  border: 1px solid #ccc;
  width: 100%;
}
.npm-show {
  display: block !important;
}
.npm-music,
.npm-all-music {
  width: 100%;
  height: 430px;
  margin-top: 30px;
  background-color: #eee;
  border: 1px solid #ddd;
}
.npm-empty-note {
  text-align: center;
  width: 100%;
  color: #777;
  line-height: 430px;
  font-size: 14pt;
}
.npma-item {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0 !important;
}
.npma-item:hover {
  background-color: #333;
  color: #fff;
}
.npma-item:hover .btn-black {
  background-color: #fff;
  color: #333;
}
.npma-item .btn-black {
  margin: 5px;
}
.npma-item img {
  height: 50px;
  float: left;
}
.npma-item p {
  margin: 10px;
  font-size: 16pt;
  float: left;
}
.err-note {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
  border: 1px solid #FF7E7E;
  background-color: #FFA2A2;
}
.create-music-modal {
  display: none;
  padding: 15px;
  width: 500px;
  position: fixed;
  background-color: #fff;
  border: 1px solid #dedede;
  top: 100px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 530;
}
.create-music-modal select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
}
.create-music-modal select option {
  background-color: #fff;
  color: #333;
  font-size: 14pt;
}
.create-success {
  margin: 0 auto;
  text-align: center;
}
.create-success .checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.create-success .checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  -webkit-animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.create-success .checkmark__check {
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
    transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes scale {
  0%,
  100% {
    -webkit-transform: none;
    transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}
@-webkit-keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
.edit-pl .btn-black {
  float: right;
}
.search-block {
  width: 100%;
  overflow: hidden;
  background-color: #eee;
  border: 1px solid #dedede;
}
.search-block .row {
  margin: 0 !important;
}
.sb-input input {
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-size: 16pt;
  border: 1px solid #dedede;
  padding: 5px;
}
.sb-item {
  border-right: 1px solid #ddd;
  padding: 5px;
}
.sb-item h4 {
  margin: 0;
  height: 35px;
  line-height: 35px;
}
.sb-item select {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #fff;
}
.no-empl-note {
  display: none;
  width: 100%;
  padding-top: 100px;
  text-align: center;
}
.no-empl-note h3 {
  color: #777;
}
.block-show {
  display: block !important;
}
.sb-show {
  margin: 15px 0;
  height: 70px;
  border: 1px solid #ddd;
}
.table {
  border: 1px solid #dedede;
}
.table b,
.table span {
  line-height: 40px !important;
}
.empl-row:hover {
  background: #333;
  color: #fff;
  cursor: pointer;
}
.empl-row:hover .btn-black {
  background-color: #fff;
  color: #333;
}
.employees-block {
  background-color: #fff;
}
.empl-block {
  background-color: #fff;
  border: 1px solid #dedede;
}
.empl-block .col-md-3 {
  padding: 0;
}
.empl-photo {
  width: 100%;
  overflow: hidden;
}
.empl-photo img {
  width: 100%;
}
.empl-info {
  padding: 20px;
}
.empl-info h2 {
  margin: 0;
}
.empl-info .table-hover {
  margin-top: 20px;
}
.empl-info .table-hover td {
  padding: 6px;
}
.child-block {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 20px;
}
.child-block h3 {
  margin: 0;
  margin-bottom: 20px;
}
.error-note {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
  margin: 10px 0;
  padding: 5px;
  color: #fff;
  background-color: #FF9797;
}
